# Chave secreta utilizada para as sessões dos usuários
SESSION_SECRET=sua_chave_secreta_aqui

# String de conexão do MongoDB Atlas ou MongoDB local
MONGO_URI=sua_string_de_conexao_mongodb

# Porta da aplicação
PORT=3000